body {
	background-color: #e5f4fc;
}
h1 {
	text-align: center;
}
.p22 {
	text-align: center;
}
.good {
	color: green;
}
.error {
	color: red;
}
.ba {
	text-decoration: none;
	padding: 5%;
	background-color: white;
}
.b { 
	margin-right: -20%;
	float: right;
}
.b1 {
	text-align: center;
}
#img {
	height: auto;
	width: 100%;
}
.pos {
	margin: 0 auto;
	text-align: center;
	padding: 3%;
	background: #e5f4fc;
	list-style-type: none;
	list-style: none;
	width: 70%;
}
.pos1 li {
	padding: 10px;
}
.aa {
	text-decoration: none;
	padding: 4%;
	background: #dae3f2;
	color: #252728;
}
.menu li {
	display: inline;
}
.menu ul a:hover {
	transition: all 0.3s ease;
	background-color: #496877;
}
.menu li > ul li {
	float: none;
	display: list-item;
	margin: 0 auto;
}
.menu li > ul li a {
	float: center;
	margin-left: -5%;
	text-transform: none;
}
.menu li:hover > ul {
	display: block;
	margin-top: 3%;
	position: fixed;
	width: 20%;
	visibility: visible;
}
