div {
	text-align: center;
}
.goodsw {
	display: block;
	width: 25%;
	float: left;
}
.goods {
	display: block;
	position: relative;
	background-color: white;
	margin: 20px;
	height: 300px;
}
.categorie {
	display: block;
	position: relative;
	background-color: white;
	margin: 40px;
	height: 200px;
}
.goodss {
	list-style: none;
}
.cat {
	display: inline;
	text-align: center;
	list-style: none;
	text-decoration: none;
	padding: 10%;
	width: 50%;
}
.test {
	text-decoration: none;
}
.pr {
	display: inline;
	float: left;
	text-decoration: none;
}
.press {

	margin-right: -45%;
	float: right;
	display: block;
	width: 70%;
}
.press1 {
	margin-right: -35%;
	float: right;
	display: block;
	width: 70%;
}
