form {
	text-align: center;
	margin-top: 10%; 
}
input {
	width: 20%;
	margin: 1%;
}
h3 {
	text-align: center;
	list-style-type: none;
	list-style: none;
}
h2 {
margin-top: -10px;
margin-left: 27%;
}

